<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="be5a0986-895c-42c1-927c-3acdd11db988" Publisher="CN=Houssem Dellai" Version="1.0.0.0" />
  <Properties>
    <DisplayName>VideoReaderMetroStyleV1</DisplayName>
    <PublisherDisplayName>Houssem Dellai</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="VideoReaderMetroStyleV1.App">
      <VisualElements DisplayName="VideoReaderMetroStyleV1" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="VideoReaderMetroStyleV1" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="videosLibrary" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>